<footer class="page-footer container mx-auto" role="contentinfo">
	<div class="footer-box">
		<div class="copyright text-center py-8">
			<p class="m-0 text-gray-light">Made in Berlin {% currentYear %}</p>
		</div>	
	</div>
</footer>