<footer class="page-footer container mx-auto" role="contentinfo">
	<div class="footer-box">
		<div class="copyright text-center">
			<p>Handcoded with love {% currentYear %}</p>
		</div>	
	</div>
</footer>