<header class="page-header fixed bg-white left-0 right-0 h-16">
    <div class="header-box container mx-auto flex justify-between items-center">
        <div class="header-branding mx-12 my-2" role="banner">
            <div id="logo" class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="metakat logo" />
                </a>
            </div>
        </div>
            
        <nav class="main-nav mr-12">
            <ul class="nav-list" id="nav">
              <li><a href="/portfolio" class="" id="portfolio-link">Work</a></li>
              <li><a href="/">About</a></li>
            </ul>
         </nav>

    </div>
</header>