<header class="page-header fixed bg-white left-0 right-0 h-16">
    <div class="header-box container mx-auto max-w-overview flex justify-between items-center">
        <div class="header-branding ml-8 md:ml-0 my-2" role="banner">
            <div id="logo" class="logo m-0">
                <a href="/">
                    <img src="/images/logo.svg" alt="metakat logo" class="w-11 block" />
                </a>
            </div>
        </div>
            
        <nav class="main-nav hidden mr-8 md:mr-0" id="main-nav">
            <ul class="nav-list" id="nav">
              <li><a href="/">About</a></li>
            </ul>
         </nav>

    </div>
</header>