<section class="bg-gray-lightest" id="contact">
	<div class="container mx-auto max-w-section py-12 md:py-16">
    	<div class="mx-8 md:mx-0">
			<h1 class="text-center mt-0">Get in Touch</h1>
			<p class="mb-0">I'm interested in meeting like-minded professionals and hearing about user experience projects and jobs in Berlin and remote. If you would like to say hello, find out more about my work or think I might fit into your team, <a href="mailto:hello@metakat.me">send an e-mail</a> or drop me a line on <a href="http://de.linkedin.com/pub/katalin-pomikacsek/6a/6b5/611" rel="noopener" target="_blank" class="text-orange">LinkedIn</a>.
		</div>
	</div>
</section>