<section class="pt-12" id="about">
    <div class="container mx-auto max-w-section py-12 md:py-16">
        <div class="mx-8 md:mx-0">
            <h2 class="mt-0">About Me</h2>
            <p class="mb-12">My name is Katalin Pomikacsek and I am an Austrian User Experience Designer living in Berlin. Over the last decade I have contributed to the development of websites, web applications and mobile apps from kickoff to launch. My aim is to provide users with easy-to-use and engaging products and by doing this, help stakeholders achieve their business goals. To optimize the quality of the user experience from every perspective, I cooperate closely with colleagues from all fields.</p>
            <h3>My Background</h3>
            <p class="mb-12">After my education as multimedia producer (SAE Vienna, 2002) I worked as a designer across different contexts (animation, print and web) and completed my master's degree in Sociology (University of Vienna, 2008). From 2010 on, my focus shifted to user centered design, where I can equally put to use my experience in design and my sociological knowledge of researching human behaviour.</p>
            <h3>Off-Topic</h3>
            <p class="mb-0">Outside of work I love going exploring on long hikes both at home and abroad. I am curious about different perspectives and cultures, which shows in many ways, such as my growing collection of graphic novels from around the world. Whenever there is an opportunity, I also enjoy taking on crafts and DIY projects to solve the small design challenges of everyday life.</p>
        </div>
    </div>
</section>