<section class="section-about section-skills" id="skills">
  <div class="container mx-auto max-w-section py-12 md:py-16">
    <div class="mx-8 md:mx-0">
      <h2 class="mt-0">What I Do</h2>

      <p>I'm continuously expanding my skillset and methods I use. The following overview is a summary of my current set of tools.</p>
      
      <div class="group">
        <div class="skill-block">
          <h3>Fields of Work and Methods</h3>
          <ul class="skill-list">
            <li>
              <strong>Product Discovery</strong>
              <p>Workshops, Stakeholder and User Interviews, Analysis of Analytics Data, Surveys, Competitive Analysis</p>
            </li>
            <li>
              <strong>Communication of Insights</strong>
              <p>Personas, User Journey, Value Proposition and User Story Maps</p>
            </li>
            <li>
              <strong>Information Architecture</strong>
              <p>Card Sorting, Content Inventories, Taxonomies</p>
            </li>
            <li>
              <strong>Design</strong>
              <p>UI Design, Interactive Prototypes, Development and Maintenance of Design Systems</p>
            </li>
            <li>
              <strong>User Testing</strong>
              <p>Planning, Moderation/Supervision and Evaluation of Usability and A/B Tests</p>
            </li>
          </ul>
          
        </div>

        <div class="mt-8 skill-block sm:grid sm:grid-cols-2 sm:gap-16">
          <div>
            <h3>Tools</h3>
            <ul class="skill-list">
              <li>
                <strong>Pens, Paper, Sticky Notes</strong>
              </li>
              <li>
                <strong>Design, Prototyping and Presentation Software</strong>
                <p>Figma, Sketch, Adobe Creative Suite, Marvel, Keynote</p>
              </li>
              <li>
                <strong>Survey Tools</strong>
                <p>Typeform, Surveymonkey</p>
              </li>
              <li>
                <strong>Analytics software</strong>
                <p>Matomo, Google Analytics</p>
              </li>
              <li>
                <strong>Basic HTML &amp; CSS</strong>
              </li>
            </ul>  
          </div>
          <div>  
            <h3>Soft Skills</h3>
            <ul class="skill-list">
              <li>
                <strong>Working with Interdisciplinary Agile Teams</strong>
              </li>
              <li>
                <strong>Structured Thinking</strong>
              </li>
              <li>
                <strong>Initiative and Self-Reliance</strong>
              </li>
              <li>
                <strong>Communication and People Skills</strong>
              </li>
              <li>
                <strong>Languages</strong>
                <p>Fluent in German, English &amp; Hungarian<br />
                Dabbling in  French, Spanish &amp; Japanese
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>