<section class="section-about section-skills" id="skills">

  <h1>What I Do</h1>

  <p>I'm continuously taking the time to expand my skillset and practice new techniques. The following overview is a summary of my current abilities.</p>
  
  <div class="group">
    <div class="skill-block">
      <h2>Fields of Work and Methods</h2>
      <ul class="skill-list">
        <li>
          <strong>Business goal definition:</strong>
          <p>Workshops, stakeholder interviews, competitive analysis</p>
        </li>
        <li>
          <strong>User research: </strong>
          <p>Interviews and observation, card sorting, analysis of analytics data, surveys</p>
        </li>
        <li>
          <strong>Evaluation: </strong>
          <p>Personas, scenarios, user journeys, content audits</p>
        </li>
        <li>
          <strong>Information architecture: </strong>
          <p>Taxonomies, sitemaps</p>
        </li>
        <li>
          <strong>Wireframing &amp; prototyping</strong>
        </li>
        <li>
          <strong>User testing: </strong>
          <p>Planning, moderation/supervision and evaluation of usability and A/B tests</p>
        </li>
      </ul>
      <h2>Tools</h2>
      <ul class="skill-list">
        <li>
          <strong>Pens, paper, sticky notes</strong>
        </li>
        <li>
          <strong>Wireframing, prototyping and presentation software: </strong>
          <p>Figma, Sketch, Adobe Creative Suite, Balsamiq, Marvel, Keynote</p>
        </li>
        <li>
          <strong>Survey tools: </strong>
          <p>Typeform, Surveymonkey, Google Forms</p>
        </li>
        <li>
          <strong>Analytics software: </strong>
          <p>Matomo, Google Analytics</p>
        </li>
        <li>
          <strong>Basic HTML &amp; CSS</strong>
        </li>
      </ul>
    </div>
    <div class = "skill-block">
      <h2>Soft Skills</h2>
      <ul class="skill-list">
        <li>
          <strong>Interacting with clients and users</strong>
        </li>
        <li>
          <strong>Working with interdisciplinary agile teams</strong>
        </li>
        <li>
          <strong>Initiative and self-reliance</strong>
        </li>
        <li>
          <strong>Structured thinking</strong>
        </li>
        <li>
          <strong>Communication skills</strong>
        </li>
      </ul>
      <h2>Languages</h2>
      <ul class="skill-list">
        <li>
          <span class="category-tag">Fluent: </span><strong>German, English, Hungarian</strong>
        </li>
        <li>
          <span class="category-tag">Basic level: </span><strong>French, Japanese</strong>
        </li>
      </ul>
    </div>
  </div>
</section>