---
pagination:
    data: casestudies
    size: 1
    alias: page
    addAllPagesToCollections: true
permalink: "/portfolio/{{ page.slug | slug }}/"
tags: "casestudy"
layout: default
eleventyComputed:
  title: "{{ page.title }}"
---

<div class="case-study theme-{{ page.theme }}">
    
    <section class="case-study-header bg-{{ page.theme }}">
        <div class="container mx-auto max-w-screen-md py-12 md:py-20">
            <div class="max-w-2xl mx-12">
                <h1 class="text-2xl sm:text-4xl md:text-6xl text-center mt-0 mb-0 mx-5">{{ page.title}}</h1>
                <p class="casestudy-date text-center mt-5 mb-12 text-sm md:text-base">
                    {% renderCaseStudyDate page %}
                </p>
                <div class="max-w-screen-sm">
                    {% renderImage page.featuredImage %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container mx-auto max-w-screen-md py-12 md:py-20">
            <div class="max-w-2xl mx-12 sm:grid sm:grid-cols-2 sm:gap-8">
                <div class="methods mb-8 sm:mb-0">
                    <h3 class="mb-0">My Role</h3>
                    <p class="">{% renderMethods page %}</p>
                </div>
                <div class="team">
                    <h3 class="mb-0">Team &amp; Partners</h3>
                    <p>{{ page.partners }}</p>
                </div>
            </div>
        </div>    
    </section>
    {%- for section in page.sections -%}
        {% if section.sys.contentType.sys.id === 'caseStudySection' %}
            <!-- text section -->
            <section class="{% if section.fields.theme %}bg-{{ page.theme }}-{{section.fields.theme}} {% endif %}" >
                <div class="container mx-auto max-w-screen-md py-8 md:py-20">
                    <div class="max-w-2xl mx-12">
                    {% if section.fields.titleIcons  %}
                        <div class="flex">
                        {%- for icon in section.fields.titleIcons -%}
                        <img class="pr-5 mb-5 max-h-20" src="https:{{icon.fields.file.url}}" alt="{{icon.fields.title}}" />
                        {% endfor %}
                        </div>
                    {% endif %}
                    {% if section.fields.title  %}
                    <h2 class="mt-0">{{section.fields.title}}</h2>
                    {% endif %}
                    {% if section.fields.body  %}
                    <div class="prose">
                        {% renderCaseStudyBody section.fields.body %}
                    </div>
                    {% endif %}
                    </div>
                </div>
            </section>

            <!-- text section end -->
        {% endif %}
        {% if section.sys.contentType.sys.id === 'caseStudyImages' %}
            <!-- image section -->
            <section class="{% if section.fields.theme %}bg-{{ page.theme }}-{{section.fields.theme}} {% endif %}" >
                <div class="container mx-auto max-w-screen-md py-4 md:py-10">
                    <div class="max-w-2xl mx-12">
                    {% if section.fields.title  %}
                    <h2 class="mt-0 text-center">{{section.fields.title}}</h2>
                    {% endif %}
                    {% if section.fields.imageBlocks  %}
                        {% renderImageBlocks section.fields.imageBlocks %}
                    {% endif %}
                    </div>
                </div>
            </section>
            <!-- image section end -->
        {% endif %}
        {% if section.sys.contentType.sys.id === 'caseStudyScreens' %}
            <!-- screens section -->
            <section class="{% if section.fields.theme %}bg-{{ page.theme }}-{{section.fields.theme}} {% endif %}" >
                <div class="container mx-auto max-w-6xl pt-4 md:pt-10">
                    <div class=" mx-4">
                        {% if section.fields.title  %}
                        <h2 class="mt-0 text-center">{{section.fields.title}}</h2>
                        {% endif %}
                        <div class="sm:grid sm:grid-cols-4 gap-14 items-stretch">
                            {% if section.fields.desktopImage %}
                            <div class="col-span-3 mb-8 sm:mb-0">
                                <div class="shadow-xl">
                                    {% renderImage section.fields.desktopImage %}
                                </div>
                            </div>
                            {% endif %}
                            {% if section.fields.mobileImage %}
                            <div class="mobile-viewport shadow-xl overflow-y-auto overscroll-contain">
                                {% renderImage section.fields.mobileImage %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>            
            <!-- screens section end -->
        {% endif %}     
    {% endfor %}
    <!-- next project teaser begin -->
    {% if page.relatedCaseStudy %}
    <section class="{% if page.relatedCaseStudy.fields.theme %}bg-{{ page.relatedCaseStudy.fields.theme }} {% endif %}" >
        <div class="container mx-auto max-w-screen-md py-8">
            <a href="/portfolio/{{ page.relatedCaseStudy.fields.slug }}" class="text-current block">
                <div class="max-w-xl mx-12 grid grid-cols-3 gap-14 items-center">
                    <div class="teaser-image">
                        {% renderImage page.relatedCaseStudy.fields.featuredImage %}
                    </div>
                    <div class="teaser-text col-span-2">
                        <p class="my-0">Next project</p>
                        <h2 class="my-0">{{page.relatedCaseStudy.fields.title}}</h2>
                    </div>
                </div>
            </a>
        </div>
    </section>
    {% endif %}
    <!-- next project teaser end -->
  
</div>