<footer class="page-footer group" role="contentinfo">
	<div class="footer-box content-container">
		<div class="to-top">
				<a href="#"><i class="icon-angle-up link-icon top-icon"></i><span class="to-top-label">To top</span></a>
		</div>

		<div class="copyright">
				<p>Handcoded with love 2013</p>
		</div>
		
	</div>
</footer>