<footer class="page-footer group" role="contentinfo">
	<div class="footer-box content-container">
		<div class="to-top">
				<a href="#" title="Back to top">
					<i class="icon-angle-up link-icon top-icon"></i>
					<span class="to-top-label">Top</span>
				</a>
		</div>

		<div class="copyright">
				<p>Handcoded with love 
				<script type="text/javascript">
				  document.write(new Date().getFullYear());
				</script>
				</p>
		</div>
		
	</div>
</footer>