<footer class="page-footer group" role="contentinfo">
	<div class="footer-box content-container">

		<div class="copyright">
				<p>Content, Design, HTML &amp; CSS <br>
					&copy; Katalin Pomikacsek 2013</p>
		</div>

	</div>
</footer>