<header class="page-header group">
	<div class="header-box content-container group">
		<div class="header-branding group" role="banner">

			<div id="logo">
				<img src="/images/logo.png" alt="metakat Logo">
			</div>
		</div>
			


		<div class="main-nav">
			<a href="#" class="nav-toggle" id="nav-toggle">
				<i class="icon-reorder"></i>
			</a>
		    <ul class="nav-list" id="nav">
		      <li><a href="#about">About</a></li>
		      <li><a href="#skills">Skills</a></li>
		      <li><a href="#work">Work</a></li>
		      <li><a href="#contact">Contact</a></li>
		    </ul>
		 </div>

		
	</div>
</header>