<header class="page-header group">
	<div class="header-box content-container group">
		<div class="header-branding group" role="banner">

			<div id="logo">
				<img src="/images/logo.png" alt="metakat Logo">
			</div>
		</div>
			
			<!--
			<div class="secondary_nav group">
				
				<div class="language-switch">
					<a href="#">Deutsch</a>
				</div>
				
				<ul class="profiles-list">
					<li>
						<a href="http://de.linkedin.com/pub/katalin-pomikacsek/6a/6b5/611">
							<div class="profile-icon linkedin-icon"><i class="icon-linkedin"></i></div>
						</a>
					</li>
					<li>
						<a href="http://www.xing.com/profile/Katalin_Pomikacsek">
							<div class="profile-icon xing-icon"><i class="icon-xing"></i></div>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/KatPomikacsek">
							<div class="profile-icon twitter-icon"><i class="icon-twitter"></i></div>
						</a>
					</li>
				</ul>
			</div>
			-->

		<div class="main-nav">
			<a href="#" class="nav-toggle" id="nav-toggle">
				<i class="icon-reorder"></i>
			</a>
		    <ul class="nav-list" id="nav">
		      <li><a href="#about">About</a></li>
		      <li><a href="#skills">Skills</a></li>
		      <li><a href="#work">Work</a></li>
		      <li><a href="#contact">Contact</a></li>
		    </ul>
		 </div>

		
	</div>
</header>