<header class="page-header group">
	<div class="header-box content-container group">
		<div class="header-branding group" role="banner">

			<div id="logo" class="logo">
				<a href="#">
				<img src="/images/logo.png" alt="metakat Logo">
				</a>
			</div>
		</div>
			
		<div class="main-nav">
			<a href="#" class="nav-toggle" id="nav-toggle">
				<i class="icon-reorder"></i>
			</a>
		    <ul class="nav-list" id="nav">
		      <li><a href="#about">About Me</a></li>
		      <li><a href="#skills">What I Do</a></li>
		      <li><a href="#contact">Get in Touch</a></li>
		    </ul>
		 </div>

		
	</div>
</header>