<div id="tagline">
	<p>Shaping the user experience throughout all phases of digital product development</p>

	<!-- 
	<p>Putting user friendliness into the big picture and the small details</p>
	-->
</div>
