<section class="section-about" id="contact">

	<h1>Get in Touch</h1>
	
	<p>I'm interested in meeting like-minded professionals and hearing about user experience projects and jobs in Berlin. If you would like to say hello or think I might fit into your team, <a href="mailto:k.pomikacsek@gmail.com">send an e-mail</a> or drop me a line on one of my online profiles:</p>
	
	
	<!--
	<h2>Online Profiles</h2>
	-->
	
	<ul class="profiles-list group">
		<li class="profile-item">
			<a href="http://de.linkedin.com/pub/katalin-pomikacsek/6a/6b5/611">
				<i class="icon-linkedin profile-icon linkedin-icon"></i><span class="icon-text-rightside">Linkedin</span>
			</a>
		</li>
		<li class="profile-item">
			<a href="http://www.xing.com/profile/Katalin_Pomikacsek">
				<i class="icon-xing profile-icon xing-icon"></i><span class="icon-text-rightside">Xing</span>
			</a>
		</li>
		<li class="profile-item">
			<a href="https://twitter.com/KatPomikacsek">
				<i class="icon-twitter profile-icon twitter-icon"></i><span class="icon-text-rightside">Twitter</span>
			</a>
		</li>
	</ul>
</section>
