
<section class="section-about section-intro">

	<h1>About Me</h1>

	<p>My name is Katalin Pomikacsek and I am an Austrian User Experience Designer living in Berlin. In the last couple of years I have contributed to the development of websites, web applications and mobile apps from kickoff to launch. My aim is to provide users with easy-to-handle and engaging products and in doing this, help clients achieve their business goals. To optimize the quality of the user experience from every perspective, I closely cooperate with team colleagues from all fields (project management, copy writing, design, development).</p>

	<h2>My Background</h2>
	<p>After my education as multimedia producer (SAE Vienna, 2002) I worked as a designer across different contexts (animation, print and web) and completed my master's degree in Sociology (University of Vienna, 2008). As a user experience designer I can put to use both my proficiency in design and my sociological knowledge of human behaviour and the ways to research it.</p>

	<h2>Off-Topic</h2>
	<p>Outside of work I'm interested in different cultures, learning odd languages (currently Japanese and JavaScript) and travelling. On occasion, I face small design challenges of everyday life with great enthusiasm and solve them with a sewing maschine, paint or a screwdriver.</p>
</section>