<section class="section-about section-skills group" id="skills">

  <h1>Skills</h1>

  <p>I'm continuously taking the time to expand my skillset and practice new techniques. The following overview is a summary of my current abilities.</p>
  
  <div class= "skill-block">

    <h2>Fields of work and methods</h2>

    <ul class="skill-list">
      <li>
        <strong>Business goal definition:</strong>
        <p>Workshops, stakeholder interviews</p>
      </li>
      <li>
        <strong>User research (on site and remote): </strong>
        <p>Surveys, interviews and observation, card sorting</p>
      </li>
      <li>
        <strong>Data evaluation: </strong>
        <p>Personas, mental models, scenarios</p>
      </li>
      <li>
        <strong>Requirements definition: </strong>
        <p>Functionality, content, experience attributes</p>
      </li>
      <li>
        <strong>Interaction design: </strong>
        <p>Use cases, user flows</p>
      </li>
      <li>
        <strong>Information architecture: </strong>
        <p>Data categorization, sitemaps</p>
      </li>
      <li>
        <strong>Wireframing &amp; prototyping</strong>
      </li>
      <li>
        <strong>User testing: </strong>
        <p>Observation, interviews, planning and evaluation of A/B tests</p>
      </li>
    </ul>

    <h2>Tools</h2>

    <ul class="skill-list">
      <li>
        <strong>Pens, paper, sticky notes</strong>
      </li>
      <li>
        <strong>Adobe Creative Suite: </strong>
        <p>Photoshop, Illustrator, InDesign, Flash</p>
      </li>
      <li>
        <strong>Wireframing, prototyping and presentation software: </strong>
        <p>Keynote, Balsamiq, Axure</p>
      </li>
      <li>
        <strong>HTML &amp; CSS</strong>
      </li>
    </ul>
  </div>
  
  <div class = "skill-block">

    <h2>Soft skills</h2>

    <ul class="skill-list">
      <li>
        <strong>Interacting with clients and users</strong>
      </li>
      <li>
        <strong>Working with interdisciplinary and agile teams</strong>
      </li>
      <li>
        <strong>Initiative and self-reliance</strong>
      </li>
      <li>
        <strong>Structured thinking</strong>
      </li>
      <li>
        <strong>Communication skills</strong>
      </li>
      <li>
        <strong>Design competence</strong>
      </li>
    </ul>

    <h2>Languages</h2>

    <ul class="skill-list">
      <li>
        <span class="category-tag">Fluent: </span><strong>German, English, Hungarian</strong>
      </li>
      <li>
        <span class="category-tag">Basic level: </span><strong>French, Japanese</strong>
      </li>
    </ul>

  </div>

</section>