<section class="section-about section-work" id="work">

  <h1>Selected Work</h1>

  <p>These are some of the projects I have worked on within the the last months. If you would like to see more, please <a href="#contact">get in touch</a> to arrange an in-person presentation.</p>

  <div class="group projectcontainer">

    <div class="projecthead">
      <p class="date">November 2013</p>
      <h2 class="projectheadline">RBB Berliner Mauer Website</h2>
    </div>

    <div class="screenshot">
      <img class="phone" src="/images/work/rbb.png" alt="Screenshot RBB Berliner Mauer Website"/>
    </div>

    <div class="projectdetails">
      <p>Documentary platform for  Broadcasting Station rbb presenting video archive material around the history of the Berlin Wall</p>
      <p><span class="category-tag">Services: </span><strong>Content strategy &amp; requirements definition, interaction design, information architecture, wireframing &amp; prototyping</strong></p>

      <div class="project-links">
        <p><a href="http://www.berlin-mauer.de/" target="_blank">View website&ensp;<i class="icon-angle-right"></i></a></p>
      </div>
    </div>
  </div>

  <div class="group projectcontainer">

    <div class="projecthead">
      <p class="date">February 2013</p>
      <h2 class="projectheadline">L’Oréal Color Finder App</h2>
    </div>

    <div class="screenshot">
      <img class="phone" src="/images/work/lor.png" alt="Screenshot L’Oréal Color Finder App"/>
    </div>

    <div class="projectdetails">
      <p>Hair color simulation app first realized for iOS and later adapted for Android</p>
      <p><span class="category-tag">Services: </span><strong>Interaction design, information architecture, wireframing &amp; prototyping, user testing</strong></p>

      <div class="project-links">
        <p><a href="https://itunes.apple.com/de/app/loreal-paris-color-finder/id572930778?mt=8" target="_blank">
          View in iTunes Store&ensp;<i class="icon-angle-right"></i></a></p>
        <p><a href="https://play.google.com/store/apps/details?id=com.loreal.colorfinder" target="_blank">
          View in Google Play Store&ensp;<i class="icon-angle-right"></i></a></p>
      </div>
    </div>
  </div>

  <div class="group projectcontainer">

    <div class="projecthead">
      <p class="date">November 2012</p>
      <h2 class="projectheadline">ZDF - Wetten Dass..? Second Screen</h2>
    </div>

    <div class="screenshot">
      <img class="phone" src="/images/work/zdf.png" alt="Screenshot ZDF Wetten Dass..? Second Screen">
    </div>

    <div class="projectdetails">
      <p>Second screen app for the popular German game show „Wetten dass...?“. After the first version of the app had been released for desktop and tablets, I joined the team to design an apapted layout for smartphones</p>
      <p><span class="category-tag">Services: </span><strong>Wireframing &amp; prototyping for smartphone adaption</strong></p>

      <div class="project-links">
        <p><a href="http://webapp.wettendass.de/sendung/" target="_blank">View web app&ensp;<i class="icon-angle-right"></i></a></p>
      </div>
    </div>
  </div>  

  <div class="group projectcontainer">

    <div class="projecthead">
      <p class="date">November 2012</p>
      <h2 class="projectheadline">Mercedes-Benz Fashion Newsroom Backend Interface</h2>
    </div>

    <div class="screenshot">
      <img class="browser" src="/images/work/mb.png" alt="Screenshot Mercedes-Benz Fashion Newsroom Backend Interface">
    </div>

    <div class="projectdetails">
      <p>Usability optimization of Django backend interface </p>
      <p><span class="category-tag">Services: </span><strong>Requirements defininition, interaction design, information architecture, wireframing &amp; prototyping, user testing</strong></p>
    </div>
  </div>

  <div class="group projectcontainer">

    <div class="projecthead">
      <p class="date">October 2012</p>
      <h2 class="projectheadline">IDEAL Website</h2>
    </div>

    <div class="screenshot">
      <img class="browser" src="/images/work/ide.png" alt="Screenshot IDEAL Website">
    </div>

    <div class="projectdetails">
      <p>Website redesign for IDEAL Krug + Priester, a leading manufacturer of document shredders and paper cutters for professional use.</p>
      <p><span class="category-tag">Services: </span><strong>Requirements defininition, interaction design, information architecture, wireframing &amp; prototyping</strong></p>

      <div class="project-links">
        <p><a href="http://www.ideal.de" target="_blank">View website&ensp;<i class="icon-angle-right"></i></a></p>
      </div>
    </div>
  </div>

</section>
