/***************************** COLORS *****************************/

$page-bg-color: #fbfbfb;
//$header-footer-color: #ffffff;

$heading-color: #333333;
$plaincopy-color: #777777; 

$link-color: #FF6D12;
$link-hover-color: #000000;
$icon-color: #999999;

$line-color: #ddd;
$major-line-color: #ccc;

$media-threshold-nav: "screen and (min-width: 720px)";
$media-threshold-1: "screen and (min-width: 810px)";

$header-height: 6em;


/***************************** NORMALIZE STYLES *****************************/

@import "normalize";

/***************************** BASIC STYLES *****************************/


body {
	color: $plaincopy-color;
	//font: 300 130%/1.75 'Source Sans Pro',Arial, sans-serif;
	font: 400 125%/1.6 "freight-sans-pro",sans-serif; 
	text-rendering:optimizeLegibility;
	background: $page-bg-color;

	@media print {
		background: white;
	}
}

h1, h2 , #tagline{
	color: $heading-color;
	font-family:"freight-sans-pro",sans-serif;
    //font-family:'Source Sans Pro',Arial, sans-serif;
    //font-family:'Bitter',Georgia,serif;  
}

h1 {
	font-size: 1.7em;
	line-height: 1;
	font-weight: 500; 
	margin:1.5em 0 1em; 
	@media #{$media-threshold-nav} {
		font-size: 2.4em;
		font-weight: 400;
	}	
}

h2 {
	font-size: 1.2em;
	line-height: 1.25;
	font-weight: 500; 
	margin: 2em 0 1em;
	@media #{$media-threshold-nav} {
		font-size: 1.6em;
		font-weight: 400;
	}	 
}

p, pre, ol, ul, dl, figure, figcaption, table, fieldset {
	margin: 0.8em 0; 
}

a {
	color: $link-color;
	font-size:100%;
	font-weight: 400;
	text-decoration:none;
	//background:url(../images/link_bg.png) repeat-x bottom;
}

a:hover,
a:focus {
	color: $link-hover-color;
	text-decoration:underline;
	background: none;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

strong {
	font-weight: 500;
	color:$heading-color;
}

img {
	width: 100%;
}

/***************************** ICON FONTS *****************************/

@import "fontawesome/font-awesome";



/***************************** NAVIGATION  *****************************/


.profiles-list {
	list-style: none;
	display: block;
	margin-top: 0;
	//margin-bottom: 0;
	li {
		margin: 0;
		display: block;
		padding-bottom:  0.8em;

		@media screen and (min-width: 25em) {
			padding: 0 2em 0 0;
			float:left;
		}		
	}
	:last-child {
		padding-right: 0;
	}
	text-align: center;
}

.profile-icon {
	color: $icon-color;
}

.icon-text-rightside{
	padding-left: 0.5em;
	font-family:"freight-sans-pro",sans-serif;
}


a:hover .profile-icon,
a:focus .profile-icon {
	color: $link-hover-color;	
	text-decoration: none;
}

/*** tweaking icon sizes and alignment ***/


.linkedin-icon {
	font-size: 1em;
	line-height: 0.8em;
}

.xing-icon {
	font-size: 1.2em;
	line-height: 0.3em;
}

.twitter-icon {
	font-size: 1.2em;
	line-height: 0.5em;
}




/***************************** CLEARFIX *****************************/

.group:before,
.group:after {
	content: "";
	display: table;
} 
.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/***************************** GENERAL CONTAINER SIZES *****************************/

.content-container {
	margin: 0 auto;
	padding: 0 5%;

	@media #{$media-threshold-nav} {
		padding: 0 1.6em;
	}	
}

.footer-box {
	padding-top: 1em;
	padding-bottom: 1em;
}

.site {
	@media #{$media-threshold-nav} {
		padding-top: $header-height;
	}
}

.section-about {
	margin-bottom: 2em;
	border-top: 1px solid $line-color;

	@media #{$media-threshold-nav} {
		margin-bottom: 4em;

		// fix offset when sticky nav is active:
		// see http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/
		
		position:relative; 
		border-top: $header-height solid transparent; 
		margin-top: -$header-height;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;

		&:before {
			content: ""; 
			position: absolute; 
			top: 0em; 
			left: 0; 
			right: 0; 
			border-top: 1px solid $line-color;
		}
	}

	> h1 {
		text-align: center;
	}

}

.section-about:first-child {
	&:before {
		border-top: 1px solid transparent;
	}
}

/***************************** HEADER *****************************/

.page-header {
	padding-bottom: 1em;
	border-bottom: 1px solid $line-color;
	//background-color: $header-footer-color;
	// make header sticky on bigger screen sizes
	@media #{$media-threshold-nav} {
		position: fixed;
		left: 0;
		right: 0;
		background-color: $page-bg-color;
		z-index: 100;
	}
}

.header-box{
	position: relative;
	//padding: 0 6% 0 5%;

	@media #{$media-threshold-nav} {
		//padding: 0 5%;
	}	
}

.header-branding { 
	padding-top: 1em;
	width: 50%
 
}

#logo {
	margin: 0;

	img {
		width: 3.5em;
		display: block;
	}

	@media #{$media-threshold-nav} {
		img {
			width: 4em;
		}
	}
}

.secondary_nav {
	width: 66%;
	float:right;

	.language-switch {
		padding-left: 3.5em;
		float:right;
		margin-top: 0.35em;
	}
	.profiles-list {
		margin: 0;
		padding: 0;
		float:right;
	}
}

.main-nav {

	a {
		color:$heading-color;
	}

	a:hover,
	a:focus {
		color: $link-color;
		text-decoration:none;
	}

	@media #{$media-threshold-nav} {
		position: absolute;
		bottom: 0;
		right: 1.6em;
		line-height: 0.8em;
	}

	@media print {
		display: none
	}	
}



.nav-toggle {
	display: none;
	font-size: 1.2em;
	padding: 0.35em 0 0.3em 0.3em;

	.js & {
		display: block;
		position: absolute;
		right: 6%;
		top: 0.5em;

	}

	@media #{$media-threshold-nav} {
		.js & {
			display: none;
		}
	}

}


.nav-list {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
	//width: 100%;

	.js & {
		clip: rect(0 0 0 0);
		max-height: 0;
		position: absolute;
		display: block;
		overflow: hidden;
		zoom: 1;
		border-top: 1px solid $line-color;
		padding-top: 0.5em;
		margin-top: 1em;
		margin-bottom: -0.5em;
	}

	&.opened {
  		max-height: 9999px;
	}

	li {
  		display: block;
		text-align: right;
		margin: 0;
	}

	
	@media #{$media-threshold-nav} {
		text-align: right;
		
		.js & {
			position: relative;
			border-top: none;
			padding: 0;
			margin: 0;
		}

		.js &.closed {
			max-height: none;
		}

		li {
			display: inline-block;
			width: auto;
			padding-left: 2em;
		}
		
		li:nth-child(1){
			padding-left:0;

		}		
	}
}

.nav-list li a {
	text-decoration:none;
	background: none;
}



/***************************** TAGLINE *****************************/

#tagline{
	color: $plaincopy-color;
	font-size: 1.7em;
	line-height: 1.25;
	font-weight: 500;
	text-align: center;
	display: block;
	color: $link-color;
	padding: 1em 0.6em 1.5em;
	border-bottom: 1px solid $line-color;

	p {
		margin: 0;
	}

	@media #{$media-threshold-nav} {
		font-size: 2.4em;
		padding: 1em 1em 1.5em;
		font-weight: 400;

	}

	@media #{$media-threshold-1} {
		padding: 1.5em 1em 2em;
	}
}

/***************************** SKILLS *****************************/

.skill-list {
	padding: 0 1em;
	li {
		color: $link-color;
		margin-bottom: 0.8em;
	}
	li p {
		color: $plaincopy-color;
		margin: 0;
	}
}

/***************************** WORK *****************************/

.projectcontainer {
	margin: 2em 0 0;
	
	@media #{$media-threshold-nav} {
		margin: 4em 0 0;
	}
}

.date {
	font-size: 1em;
	color: $plaincopy-color;
	line-height: 1;
	margin: 1 0 0.5em;
}

.projectheadline {
	margin: 0 0 1em;
}

.project-links {
	margin: 1.6em 0 0 0;
}


.category-tag {
	color: $heading-color;
}

/***************************** CONTACT *****************************/



/***************************** FOOTER *****************************/

.page-footer {
	border-top: 1px solid $line-color;

}

.copyright {
	text-align: center;
	
}

.to-top {
	display: none;
	text-align: center;
	line-height: 1em;
	//margin-bottom: 1.6em;
	position: fixed;
	bottom: 1.5em;
	right: 1em;

	a {
		display: block;
		background: rgba(#ccc, 0.8);
		padding: 0.5em 0.6em;
		border-radius: 6px;	
		//color:$heading-color;
		color: #fff;
	}

	a:hover,
	a:focus {
		background: rgba($link-color, 0.8);
		text-decoration:none;
	}

	@media #{$media-threshold-nav} {
		display: none;
	}
}

.top-icon {
	font-size: 1.5em;
}

.to-top-label{
	display: block;
	font-size: 80%;
}

.copyright {
	font-size: 80%;
}


/***************************** MEDIA QUERY 1 *****************************/
/* skills split into 2 columns*/
/* work split into 2 columns*/

@media #{$media-threshold-1} {

	.content-container {
		max-width: 42em;
		//padding: 1em 7%;
	}

	.skill-block {
		width: 45%;
		float: left;
		padding-right: 10%;
	}

	.skill-block:nth-child(even) {
		padding-right: 0;
	}

	.projecthead {
		width:45%;
		margin:0;
		float: left;
		h2 {
			margin-bottom:1em;
		}
	}

	.screenshot {
		width:45%;
		max-width: 100%;
		margin:0;
		padding: 0 0 0 5%;
		float:right;
	}

	.projectdetails {
		width:50%;
		margin:0;
		float: left;
	}
}

