---
title: About
description: I am Katalin and this is what I do
layout: default
---

<div class="about-sections">
	<!-- tagline section -->
	{% include "_tagline.njk" %}
	<!-- intro section -->
    {% include "about/_intro.njk" %}
	<!-- skills section -->
	{% include "about/_skills.njk" %}
	<!-- contact section -->
	{% include "about/_contact.njk" %}
</div>