---
layout: default
---

<section class="about-sections">
	<!-- tagline section -->
	{% include "_tagline.njk" %}
	<!-- intro section -->
    {% include "about/_intro.njk" %}
	<!-- skills section -->
	{% include "about/_skills.njk" %}
	<!-- contact section -->
	{% include "about/_contact.njk" %}
</section>