---
title: About
description: Berlin based UX Designer
layout: default
---

<div class="about-sections">
	<!-- tagline section -->
	{% include "_tagline.njk" %}
	<!-- intro section -->
    {% include "about/_intro.njk" %}
	<!-- skills section -->
	{% include "about/_skills.njk" %}
	<!-- contact section -->
	{% include "about/_contact.njk" %}
	<!-- footer section -->
	{% include "_footer.njk" %}
</div>