---

title: Katalin Pomikacsek – User Experience Design

---


<section class="group">
	<!-- intro section -->
	<%= partial "partials/about/intro" %>
	<!-- skills section -->
	<%= partial "partials/about/skills" %>
	<!-- contact section -->
	<%= partial "partials/about/contact" %>
</section>

