---
title: Katalin Pomikacsek – User Experience Research
description: 
layout: default
---
{% include "_tagline.njk" %}
<section class="group">
	<!-- intro section -->
    {% include "about/_intro.njk" %}
	<!-- skills section -->
	{% include "about/_skills.njk" %}
	<!-- contact section -->
	{% include "about/_contact.njk" %}
</section>